.accordion {
  margin: 0 auto 0 0;
  width: 91%;
}

.accordion__item {
}

.accordion__item--active {
  background-color: var(--color-gray-200);
  box-shadow: var(--shadow-light);
}

.accordion__item--active .accordion__content {
  position: relative;
  padding: 11px 32px 20px 59px;
  max-height: 100%;
  opacity: 1;
  visibility: visible;
}

.accordion__item--active .accordion__content::before {
  position: absolute;
  content: "";
  top: 0;
  left: 59px;
  width: 87%;
  border: 1px solid var(--color-gray-400);
}

.accordion__trigger {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 15px 32px 15px 5px;
  border: 1px solid transparent;
  border-radius: 6px;
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.accordion__trigger:hover .accordion__trigger-text {
  color: var(--color-secondary);
}

.accordion__item--active .accordion__trigger-text {
  color: var(--color-secondary);
}

.accordion__trigger-text {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
  font-size: 18px;
  color: var(--color-text-main);
  transition: 0.3s;
}

.accordion__trigger-img {
  position: relative;
  flex-shrink: 0;
  width: 27px;
  height: 5px;
  background-color: var(--color-gray-400);
  transition: 0.3s;
}

.accordion__trigger-img::before {
  position: absolute;
  content: "";
  top: -11px;
  left: 11px;
  width: 5px;
  height: 27px;
  background-color: var(--color-gray-400);
}

.accordion__item--active .accordion__trigger-img::before {
  transform: rotate(90deg);
  background-color: var(--color-secondary);
}

.accordion__item--active .accordion__trigger-img {
  background-color: var(--color-secondary);
}

.accordion__content {
  padding: 0 32px;
  max-height: 0;
  box-sizing: content-box;
  font-size: 18px;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .accordion {
    width: 100%;
  }

  .accordion__trigger {
    gap: 15px;
  }

  .accordion__item--active .accordion__content {
    position: relative;
    padding-left: 49px;
  }
}

@media (max-width: 479px) {
  .accordion__item--active {
    margin: 10px 0;
  }
}
