.fotogallery {
  background-color: var(--color-gray-100);
}

.fotogallery__slider {
  padding-top: 20px;
}

.fotogallery__img {
  border-radius: 8px;
}

.fotogallery__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 55px;
  padding-top: 155px;
}

.fotogallery__video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.fotogallery__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 55px;
  margin: 0;
  background-color: var(--color-white);
  box-shadow: var(--shadow-light);
}

.fotogallery__item {
  max-width: 300px;
}

.fotogallery__text {
  font-size: 16px;
  margin: 0;
  line-height: 1.3;
}
