.header {
  padding: 20px 0 35px;
}

.header__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
  padding-bottom: 25px;
}

.menu-mobile__contacts,
.header__contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-mobile__phone,
.header__phone {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  padding-left: 22px;
  white-space: nowrap;
}

.header__phone:hover {
  color: var(--color-text-hover);
}

.header__phone:active {
  color: var(--color-text-active);
}

.menu-mobile__phone::before,
.header__phone::before {
  position: absolute;
  content: "";
  left: 0;
  top: 2px;
  background-image: url("/img/head-phone.svg");
  width: 17px;
  height: 18px;
}

.menu-mobile__text,
.header__text {
  margin: 0;
}

.header__socials {
  display: none;
}

.header__callback {
  padding: 13px 23px;
}

.header__bottom {
  border-top: 1px solid var(--color-secondary);
  border-bottom: 1px solid var(--color-secondary);
}

.menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
}

.menu__link:hover {
  color: var(--color-text-hover);
}

.menu__link:active {
  color: var(--color-text-active);
}

.menu-services__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-services__item {
  padding: 20px 35px;
  transition: 0.3s;
  cursor: pointer;
  z-index: 10;
}

.menu-services__item:hover {
  background-color: var(--color-secondary-hover);
  position: relative;
}

.menu-services__item:active {
  background-color: var(--color-secondary-active);
}

.service-mob__link,
.menu-services__link {
  font-size: 16px;
  font-weight: 500;
}

.submenu {
  position: absolute;
  content: "";
  padding: 25px 15px;
  box-shadow: 0 0 10px 0 rgba(190, 190, 190, 0.25);
  top: 60px;
  left: 15px;
  z-index: 3;
  min-width: 180px;
}

ul.menu-services__list li > ul.submenu {
  display: none;
}

ul.menu-services__list li:hover > ul.submenu {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

/* .submenu {
  display: none;
} */

/* .submenu--active {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
} */

.submenu__link {
  padding: 10px 30px 10px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: 0.3s;
}

.submenu__link:hover {
  border-color: var(--color-secondary);
  border-radius: 3px;
}

.submenu__link:active {
  color: var(--color-secondary);
}

.socials__icon {
  width: 25px;
  height: 25px;
}

.menu-trigger {
  display: none;
}

.menu-mobile {
  display: none;
}
