.reviews {
  background-color: var(--color-gray-100);
}

.reviews__slider {
}

.reviews__item {
  box-shadow: 0 0 10px 0 rgba(171, 171, 171, 0.25);
  flex-grow: 1;
}
.reviews__video {
  aspect-ratio: 16 / 9;
  width: 100%;
}
.reviews__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--color-white);
  padding: 15px 5px 15px 25px;
}

.reviews__text {
  margin: 0;
}

.reviews__address {
  position: relative;
  margin: 0;
  padding-left: 20px;
}

.reviews__address::after {
  position: absolute;
  content: url("/img/map--pin.svg");
  top: 0;
  left: 0;
}
