.slider__pagination {
  bottom: -40px;
  gap: 10px;
}

.slider__page {
  background-color: var(--color-gray-100);
  outline: 2px solid var(--color-blue-700);
  width: 14px;
  height: 14px;
}

.slider__page.is-active {
  border: 2px solid var(--color-gray-100);
  background-color: var(--color-blue-700);
  transform: none;
}

.slider__arrows {
}

.slider__arrow {
  background: transparent;
}

.slider__arrow-img {
  height: 27px;
}

.slider__arrow--prev {
  /* left: -5%; */
}

.slider__arrow--next {
  /* right: -5%; */
}

.portfolio__slide {
  opacity: 0.6;
}

.portfolio__slide.is-active {
  opacity: 1;
}
